<div class="wrapper">
  <img routerLink="/" src="../assets/wp2663493.png" alt="Rammstein logo">
  <h1> Which Rammstein ⚡ member are you? Solve a quick test to find out 🤘</h1>
    <div class='container'>
      <form [formGroup]="quizForm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Your name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
              <span *ngIf="quizForm.get('name').touched && quizForm.get('name').hasError('required')">Enter your name</span>
              <span *ngIf="quizForm.get('name').touched && quizForm.get('name').hasError('minLength')">Your name must be at least 3 characters</span>
              <span *ngIf="quizForm.get('name').touched && quizForm.get('name').hasError('maxLength')">Only 10 characters permissible</span>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect3">What do you do in your free time?</label>
            <select class="form-control" id="exampleFormControlSelect3" formControlName="freeTime">
              <option>Swim [Till]</option>
              <option>Play the guitar</option>
              <option>Drink a beer[Lorenz]</option>
              <option>Learn languages [Paul Landers]</option>
            </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect4">What is your favourite instrument?</label>
            <select class="form-control" id="exampleFormControlSelect4" formControlName="instruments">
              <option>Guitar</option>
              <option>Piano</option>
              <option>Drums</option>
              <option>Bass</option>
            </select>
        </div>
        <div class="form-group thelast">
          <label for="exampleFormControlSelect5">What ages are your fav?</label>
            <select class="form-control" id="exampleFormControlSelect5" formControlName="RammsteinAge">
              <option>80s</option>
              <option>00s</option>
              <option>70s</option>
              <option>60s</option>
            </select>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="agreebutton">
          <label class="form-check-label" for="exampleCheck1">Agree terms</label>
        </div>
          <button [routerLink] = "'/result'" [disabled]="!quizForm.valid">Check the answer!🤘</button>
      </form>
    </div>
</div>
